<!DOCTYPE html>

<head>
    <title>Add Book</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
</head>

<body>
    
    <div class = "login">
        <h1>Add Book</h1>
       <form action='/addbook' method="POST">
           <label>Name: </label>
           <input type="text" name="name" required><br><br>
           <label>Author: </label>
           <input type="text" name="author" required><br><br>
           <label>Genre: </label>
           <input type="text" name="genre" required><br><br>
           <button>ADD</button>
       </form>
    </div>


</body>