<!DOCTYPE html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
</head>

<body class="bodyimg">
    <div class="align">
    <h1>Links</h1>
    <a href="/booklist" >Available Books</a><br><br>
    <a href="/takebook" >Withdraw Book</a><br><br>
    <a href="/viewbook" >Withdrawn Books</a><br><br>
    <a href="/logout" >Log-Out</a><br><br>
</div>
</body>