<!DOCTYPE html>

<head>
    <title>Log-In</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
</head>

<body class="bodyimg">
    
    <div class = "login">
        <h1>Log in</h1>
       <form action='/login' method="POST">
           <label>Username: </label>
           <input type="text" name="username" required><br><br>
           <label>Password: </label>
           <input type="password" name="password" required><br><br>
           <small><%= message %></small>
           <button>Log In</button><br>
       </form>
       <form action='/register' method="POST">
        <br><button>Sign Up</button>
    </form>
    </div>


</body>