<!DOCTYPE html>

<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
</head>

<body class="bodyimg">
    
    <div class = "login">
        <h1>Sign Up</h1>
       <form action='/register' method="POST">
           <label>Username: </label>
           <input type="text" name="username" id="username" required><br><br>
           <label>Password: </label>
           <input type="password" name="password" id="password" required><br><br>
           <button>Sign Up</button>
       </form>
    </div>


</body>