<!DOCTYPE html>

<head>
    <title>Remove User</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
</head>

<body class="bodyimg">
    
    <div class = "login">
        <h1>Remove User</h1>
       <form action='/removeuser' method="POST">
           <label>Name: </label>
           <input type="text" name="username" required><br><br>
           <button>DELETE</button>
       </form>
    </div>


</body>