<!DOCTYPE html>

<head>
    <title>Remove Book</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
    
    <div class = "login">
        <h1>Remove Book</h1>
       <form action='/removebook' method="POST">
           <label>Name: </label>
           <input type="text" name="name" required><br><br>
           <label>Author: </label>
           <input type="text" name="author" required><br><br>
           <button>ADD</button>
       </form>
    </div>


</body>