<!DOCTYPE html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="align">
    <h1>Thank You! Click on the mail link to confirm and log in.</h1>
    <form action = "/login">
    <button>Log-In</button>
    </form>
</div>
</body>