.bodyimg {
    background-image: url(../img/library.jpg);
}

.login {
    background-color: white;
    color: rgb(25, 150, 207);
    margin-left: 70%;
    margin-top: 10%;
    margin-right: 10%;
    text-align: center;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 20px;
}

label{
    display:inline-block;
    min-width:80px
}

input {
    background-color: white;
    border-radius: 8px;
    height: 20px;
    border-color: rgb(25, 150, 207);
}

button {
    background-color:rgb(25, 150, 207);
    height: 30px;
    border-radius: 8px;
    width: 90px;
    color: white;
    border-color: rgb(25, 150, 207);
    
}

.data_show{
    background-color :white;
    padding-bottom: 100px;
    padding-top: 50px;
    padding-left: 650px;
    color: black;
    border-top: black;    
}

table {
    width: 50%;
    text-align: center;
    font-size: large;
    border-radius: 2px;
    border-color: black;
    border-style: solid;
}



a:link, a:visited {
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width :80%;
    border-color: black;
    border-style: solid;
    border-radius: 8px;
  }
  
  a:hover, a:active {
    background-color:rgb(185, 255, 246);
  }

.align {
    padding : 1%;
    background-color: rgb(185, 255, 246);
    margin-top: 180px;
    margin-left: 55%;
    margin-right: 25%;
    border-radius: 5%;
    text-align: center;
}